@if (TempData["SuccessMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<partial name="_MenuGuiaUsuario" />

<div class="col-md-9">
    <div class="card-header border-bottom border-primary pb-2 mb-4">
        <h4 class="card-title text-center fw-normal">Agregar el Primer Servicio</h4>
    </div>

    <div class="card-body">
        <p class="card-text">
            Después de configurar el horario, el siguiente paso es agregar al menos 
            un servicio de los que ofrece. Esto permitirá que los pacientes seleccionen 
            un servicio específico al agendar una cita.
        </p>

        <br />

        <h5 class="card-title">Paso 1. Ingresar a Servicios</h5>

        <p class="card-text">
            Dirigase a la sección Servicios del Menú.
        </p>

        <br />

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="shadow rounded-2" src="~/img/Documentacion/GuiaUsuario/Servicios/agregarunservicio_uno.png" width="300px" />
            </div>
        </div>

        <br /> <br />

        <h5 class="card-title">Paso 2. Ingresar al Formulario de Agregar Servicio</h5>

        <p class="card-text">
            Presiona el botón <button type="button" class="btn btn-primary">Agregar</button>.
        </p>

        <br />

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="shadow rounded-2" src="~/img/Documentacion/GuiaUsuario/Servicios/agregarunservicio_dos.png" width="800px" />
            </div>
        </div>

        <br /> <br />

        <h5 class="card-title">Paso 3. Ingresa el nombre del Servicio</h5>

        <p class="card-text">
            Para el campo de Servicio puedes seleccionar una opción de la lista desplegable, si el servicio 
            que deseas agregar no se encuentra en la lista puedes escribirlo en el recuadro de arriba.
        </p>

        <br />

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="shadow rounded-2" src="~/img/Documentacion/GuiaUsuario/Servicios/agregarunservicio_tres.png" width="800px" />
            </div>
        </div>

        <br /> <br />

        <h5 class="card-title">Paso 4. Ingresa el Costo del Servicio</h5>

        <p class="card-text">
            En el campo de Costo, debes ingresar unicamente la cantidad que cuesta ofrecer dicho servicio.
        </p>

        <br />

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="shadow rounded-2" src="~/img/Documentacion/GuiaUsuario/Servicios/agregarunservicio_cuatro.png" width="800px" />
            </div>
        </div>

        <br /> <br />

        <h5 class="card-title">Paso 5. Agregar Servicio</h5>

        <p class="card-text">
            Para agregar el servicio presiona
            el botón <button type="button" class="btn btn-primary">Agregar</button>,
            si todo salió correctamente aparecerá un mensaje indicando que el Serivicio
            se registro de manera correcta.
        </p>

        <br />

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <img class="shadow rounded-2" src="~/img/Documentacion/GuiaUsuario/Servicios/agregarunservicio_cicno.png" width="800px" />
            </div>
        </div>

        <br /> <br />

    </div>
</div>
    </div>
</div>
