@if (TempData["SuccessMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<partial name="_MenuGuiaUsuario" />

<div class="col-md-9 lh-lg">
    <div class="card-header border-bottom border-primary pb-2 mb-4">
        <h4 class="card-title text-center fw-normal">Editar Configuración de la Cuenta</h4>
    </div>

    <div class="card-body">

        <!-- Paso 1 -->
        <h5 class="card-title">Paso 1: Acceder a la Configuración de la Cuenta</h5>

        <ul>
            <li>
                Inicia sesión en el sistema con las credenciales correspondientes.
            </li>
            <li>
                Desde el menú principal selecciona la opción Configuración de la Cuenta.
            </li>
        </ul>

        <p class="card-text">
            Serás dirigido a una página donde se muestran los datos actuales de tu cuenta.
        </p>

        <!-- Paso 2 -->
        <h5 class="card-title">Paso 2: Abrir el Formulario de Edición</h5>

        <ul>
            <li>
                Localiza el botón 
                <button class="btn btn-primary">Editar</button>
                en los detalles de la cuenta.
            </li>
            <li>
                Haz clic en este botón para abrir el formulario con los datos personales actuales.
            </li>
        </ul>

        <!-- Paso 3 -->
        <h5 class="card-title">Paso 3: Actualizar los Datos de la Cuenta</h5>

        <p class="card-text">
            En el formulario, realiza las modificaciones necesarias en los siguientes campos:
        </p>

        <ul>
            <li>
                <b>Nombre Completo: </b>
                Ajusta tu nombre o apellido según corresponda.
            </li>
            <li>
                <b>Especialidad </b>
            </li>
            <li>
                <b>No. de Cédula</b> 
            </li>
            <li>
                <b>Número de Celular </b>
            </li>
        </ul>

        <!-- Paso 4 -->
        <h5 class="card-title">Paso 4: Guardar cambios</h5>

        <p class="card-text">
            Una vez realizados los ajustes, presiona el botón
            <button class="btn btn-primary">Guardar</button>
        </p>

        <p class="card-text">
            Si los datos son válidos, el sistema mostrará un mensaje de confirmación como:
            "La información de la cuenta fue actualizada exitosamente."
        </p>

        <br /> <br />
    </div>
</div>
    </div>
</div>

