@{
    ViewData["Title"] = "DetailsVerMas";
}

<partial name="_MenuPacientes" />

<partial name="_DetallesMedico" />

<div class="row justify-content-center">
    <div class="col-md-auto align-self-center">
        <a class="nav-link" asp-action="Index" asp-controller="Paciente">Ir a Inicio</a>
    </div>
</div>

