@model MediDate.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal Correo o Contraseña incorrecta-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

@if (TempData["SuccessMessage"] != null)
{
    <!--Correo enviado para cambiar contraseña-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="row justify-content-center" style="width:100%;">
            <div class="col-md-auto">
                <h3><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">MediDate</a></h3>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    
    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <h4>Iniciar Sesión</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 align-self-center">

            <hr />

            <div><label></label></div>

            @if (TempData["IniciarSesion"] != null)
            {
                <div class="alert alert-info" role="alert">
                    Inicia sesión o <a  asp-area="" asp-controller="Home" asp-action="Registrarse">Registrate</a> para agendar citas.
                </div>
            }

            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label fw-bold"></label>
                    <input asp-for="Email" class="form-control" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div><label></label></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label fw-bold"></label>
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" type="password" id="inputPass" required/>
                        <span class="input-group-text" id="basic-addon1"><a onclick="mostrarOcultarPass()" href="#"><i id="eyeIcon" class="fa-solid fa-eye" style="color: #000000;"></i></a></span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div><label></label></div>
                <div class="form-group">
                    <input type="submit" value="Ingresar" class="btn btn-primary" style="width:100%" />
                </div>
            </form>
        </div>
    </div>

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <div>
                <a asp-controller="Usuario" asp-action="Restablecer" class="link-primary">¿Has olvidado tu contraseña?</a>
            </div>
        </div>
    </div>

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <div>
                <a asp-controller="Home" asp-action="Index" class="text-center link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Regresar</a>
            </div>
        </div>
    </div>

</div>

<script>
    function mostrarOcultarPass() {

        var passwordInput = document.getElementById("inputPass");
        var eyeIcon = document.getElementById("eyeIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>

