@model MediDate.Models.FAQ

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FAQ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFAQ" class="control-label"></label>
                <input asp-for="IdFAQ" class="form-control" />
                <span asp-validation-for="IdFAQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <input asp-for="IdCategoria" class="form-control" />
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionFAQ" class="control-label"></label>
                <input asp-for="DescripcionFAQ" class="form-control" />
                <span asp-validation-for="DescripcionFAQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respuesta" class="control-label"></label>
                <input asp-for="Respuesta" class="form-control" />
                <span asp-validation-for="Respuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accion" class="control-label"></label>
                <input asp-for="Accion" class="form-control" />
                <span asp-validation-for="Accion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
