<div class="row justify-content-center">
    <div class="col">
            
        <div class="card-header border-bottom border-primary pb-2 mb-4">
            <h4 class="card-title text-center">¿Cómo puedo acceder a mi Historial de Citas Médicas?</h4>
        </div>

        <div class="card-body">
            <p class="card-text">
                Para acceder al Historial de Citas Médicas debe dirigirse a la sección Historial de Citas Médicas en el Menú.
            </p>

            <br /><br />
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/AccederHistorial/uno.png" />
                </div>
            </div>
            <br /><br />

            <p class="card-text">
                Dentro de la sección, puede encontrar una tabla con información relevante acerca de las citas que ha tenido y las futuras.
            </p>
            <br /><br />
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/AccederHistorial/dos.png" width="800px" />
                </div>
            </div>

        </div>
    </div>
</div>

<div><label></label></div>

