<div class="row justify-content-center">
    <div class="col">
            
        <div class="card-header border-bottom border-primary pb-2 mb-4">
            <h4 class="card-title text-center">¿Cómo puedo saber qué médico es el más adecuado para mis necesidades?</h4>
        </div>

        <div class="card-body">
            <p class="card-text">
                Para identificar al Especialista que mejor se adapte a sus necesidades, 
                le recomendamos utilizar la barra de búsqueda disponible en la página de inicio.

                <br /><br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/Busqueda/uno.png" width="800px" />
                    </div>
                </div>

                <br /><br />

                Simplemente ingrese la <b>Especialidad</b> que está buscando o el tipo de <b>Servicio</b> que
                desea realizarse. Al presionar el botón "Buscar", se mostrará una lista de 
                Especialistas que cumplen con los criterios ingresados, facilitando así su 
                selección.

                <br /><br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/Busqueda/dos.png" width="800px" />
                    </div>
                </div>

                <br /><br />

                Esta funcionalidad le permite acceder rápidamente a la información sobre los 
                profesionales médicos disponibles en nuestra plataforma, asegurando que pueda 
                tomar una decisión informada y adecuada para sus necesidades de salud.
            </p>
        </div>
           
    </div>
</div>

<div><label></label></div>

