<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-header border-bottom border-primary pb-2 mb-4">
                <h4 class="card-title text-center fw-normal">¿Qúe hago si olvide mi contraseña?</h4>
            </div>

            <div class="card-body">
                <p class="card-text">
                    Si olvidó su contraseña puede reestablecerla unicamente usando el Correo Electrónico que ingresó
                    al momento de crear la cuenta. A continuación se detallan los pasos a seguir para recuperar la contraseña:
                </p>

                <br />
    
                <h5 class="card-title">Paso 1. Visitar la página de Iniciar Sesión</h5>
                <p class="card-text">
                    En la página de Iniciar Sesión debe presionar sobre el texto <a asp-controller="Usuario" asp-action="Restablecer" class="link-primary">¿Has olvidado tu contraseña?</a>
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/CambiarPassword/uno.png" width="500" />
                    </div>
                </div>

                <br /><br />

                <h5 class="card-title">Paso 2. Ingresar Correo Electrónico</h5>
                <p class="card-text">
                    En la siguiente página debe ingresar el Correo Electrónico que utilizó 
                    para Crear una Cuenta, despúes presione el botón
                    <button type="button" class="btn btn-primary">
                        Enviar
                    </button> lo que provocara que se envie un correo al correo ingresado.
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/CambiarPassword/dos.png" width="500px" />
                    </div>
                </div>

                <br /><br />

                <h5 class="card-title">Paso 3. Ingresar a su Cuenta de Correo</h5>
                <p class="card-text">
                    En su cuenta de correo debe abrir el correo que le llegó por parte de MediDate y abrir el enlace que se le solicita.
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/CambiarPassword/cuatro.png" width="500px" />
                    </div>
                </div>

                <br /><br />

                <h5 class="card-title">Paso 4. Ingresar Nueva Contraseña</h5>
                <p class="card-text">
                    En la página que se muestra al abrir el enlace del correo enviado, podra
                    ingresar la Nueva Contraseña, al finalizar presione el botón
                    <button type="button" class="btn btn-primary">
                        Actualizar
                    </button>
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/CambiarPassword/cinco.png" width="500px" />
                    </div>
                </div>

                <br /><br />

                <p>
                    Si todo salio correctamente, aparecera un mensaje indicando que la contrsaeña se actualizó correctamente.
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/CambiarPassword/seis.png" width="500px" />
                    </div>
                </div>

                <br /><br />
                    
            </div>
        </div>
    </div>
</div>

<div><label></label></div>

