<div><label></label></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-header border-bottom border-primary pb-2 mb-4">
                <h4 class="card-title text-center fw-normal">¿Cómo puedo Cancelar una Cita?</h4>
            </div>

            <div class="card-body">
                <h5>Requisitos</h5>
                <ul>
                    <li>Iniciar sesión en la plataforma de MediDate</li>
                </ul>

                <br />

                <h5 class="card-title">Paso 1. Ingresar a Mis Citas</h5>
                <p class="card-text">
                    Dirigase a la sección Mis Citas del menú.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/ReagendarCita/uno.png" />

                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 2. Seleccionar cita a Cancelar</h5>
                <p class="card-text">
                    Presione el botón
                    <button type="button" class="btn btn-danger">
                        Cancelar
                    </button> en la cita que desea cancelar, para ver los detalles de la cita.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/CancelarCita/dos.png" width="800px" />

                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 3. Confirmación de Cancelación de Cita</h5>
                <p class="card-text">
                    En los detalles de la cita presione el botón <button type="button" class="btn btn-primary">
                        Cancelar
                    </button>, esto le mostrara un mensaje indicando si esta seguro de Cancelar la cita
                    por lo que debera presionar nuevamente el botón de Cancelar.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/CancelarCita/tres.png" width="500px" />

                    </div>
                </div>

                <br />
                    
                <h5 class="card-title">Paso 4. Cancelación de Cita</h5>
                <p class="card-text">
                    Despúes le aparecera un mensaje indicando si esta seguro de Cancelar la cita
                    por lo que debera presionar nuevamente el botón de <button type="button" class="btn btn-danger">
                        Cancelar
                    </button>
                    .
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/CancelarCita/cuatro.png" width="500px" />
                    </div>
                </div>

                <br />

                <p>
                    Si todo salio correctamente, aparecera un mensaje indicando que la cita se canceló exitosamente.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/CancelarCita/cinco.png" width="500px" />

                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>

<div><label></label></div>

