<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-header border-bottom border-primary pb-2 mb-4">
                <h4 class="card-title text-center fw-normal">¿Cómo puedo actualizar mis datos personales?</h4>
            </div>

            <div class="card-body">
                <h5>Requisitos</h5>
                <ul>
                    <li>Iniciar sesión en la plataforma de MediDate</li>
                </ul>

                <br />

                <h5 class="card-title">Paso 1. Ingresar a la Configuración de la Cuenta</h5>
                <p class="card-text">
                    Para actualizar la información de su cuenta dirigase a la sección Configuración de la Cuenta del menú.
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/ConfiguracionCuenta/uno.png" />
                    </div>
                </div>

                <br /><br />

                <h5 class="card-title">Paso 2. Ingresar al Formulario Editar Cuenta</h5>
                <p class="card-text">
                    Presione el botón
                    <button type="button" class="btn btn-primary">
                        Editar
                    </button> para poder editar la información que desee.
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/ConfiguracionCuenta/dos.png" width="500px" />
                    </div>
                </div>

                <br /><br />

                <h5 class="card-title">Paso 3. Editar Formulario</h5>
                <p class="card-text">
                    En el formulario actualize la información que desee.
                    Al finalizar de editar los datos presione el botón 
                    <button type="button" class="btn btn-primary">
                        Editar
                    </button>
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/ConfiguracionCuenta/tres.png" width="500px" />
                    </div>
                </div>

                <br /><br />

                <p>
                    Si todo salio correctamente, aparecera un mensaje indicando que la información se actualizó correctamente.
                </p>

                <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/ConfiguracionCuenta/cuatro.png" width="500px" />
                    </div>
                </div>

                <br /><br />
                    
            </div>
        </div>
    </div>
</div>

<div><label></label></div>

