<div class="row justify-content-center">
    <div class="col">
            
        <div class="card-header border-bottom border-primary pb-2 mb-4">
            <h4 class="card-title text-center">¿Cuales son los horarios de atención?</h4>
        </div>

        <div class="card-body">
            <p class="card-text">
                Cada Especialista tiene un Horario de Atención único, adaptado a sus disponibilidades 
                y a las necesidades de sus pacientes. Para visualizar el horario específico de un 
                Especialista, simplemente haz clic en la opción 
                <small class="text-body-secondary"><a href="#" class="link-underline link-underline-opacity-0">Ver más</a></small> 
                que aparece junto a su nombre.
                Esta acción te llevará a una sección detallada que proporciona información relevante 
                tanto del Especialista como del Consultorio y los Horarios Disponibles para agendar citas.
            </p>

            <br /> <br />

            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/Horarios/horarioatencion_uno.png" width="500px" />
                </div>
            </div>

            <p class="card-text">
                Dentro de los detalles de cada Especialista, en el apartado de Información del 
                Consultorio se puede observar cual es el Horario de Atención para cada día de 
                la semana.
            </p>

            <br /> <br />

            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/Horarios/horarioatencion_dos.png" width="500px" />
                </div>
            </div>
                    
        </div>
           
    </div>
</div>

<div><label></label></div>

