<div class="row justify-content-center">
    <div class="col">
            
        <div class="card-header border-bottom border-primary pb-2 mb-4">
            <h4 class="card-title text-center fw-normal">¿Cómo puedo saber si un médico esta disponible?</h4>
        </div>

        <div class="card-body">
            <p class="card-text">
                Para ver los Horarios Disponibles para Agendar Citas Médicas de un
                Especialista debe hacer clic en la opción
                <small class="text-body-secondary"><a href="#" class="link-underline link-underline-opacity-0">Ver más</a></small>
                en la Información del Médico.

                <br /> <br />
                
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/Horarios/horarioatencion_uno.png" width="500px" />
                    </div>
                </div>

                <br /> <br />

                De esta manera podemos ver la información detallada tanto del Especialista 
                como del Consultorio y los Horarios Disponibles para agendar citas.

                <br /> <br />

                En la sección de Horarios Disponibles podemos observar los próximos 5 dias a la fecha actual y
                las horas disponibles en las cuales se puede agendar una cita, si llegara a estar un horario reservado
                aparecera el texto Ocuapado.

                <br /> <br />

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img class="shadow rounded-2" src="~/img/Documentacion/FAQ/Horarios/horariodisponible_uno.png" width="500px" />
                    </div>
                </div>

            </p>  
        </div>
           
    </div>
</div>

<div><label></label></div>

