<div><label></label></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-header border-bottom border-primary pb-2 mb-4">
                <h4 class="card-title text-center fw-normal">¿Cómo puedo Reagendar una Cita?</h4>
            </div>

            <div class="card-body">
                <h5>Requisitos</h5>
                <ul>
                    <li>Iniciar sesión en la plataforma de MediDate</li>
                </ul>

                <br />

                <h5 class="card-title">Paso 1. Ingresar a Mis Citas</h5>
                <p class="card-text">
                    Dirigase a la sección Mis Citas del menú.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/ReagendarCita/uno.png" />

                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 2. Seleccionar cita para Reagendar</h5>
                <p class="card-text">
                    Presione el botón
                    <button type="button" class="btn btn-primary">
                        Reagendar
                    </button> en la cita que desea reagendar.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/ReagendarCita/dos.png" width="800px"/>

                    </div>
                </div>
                <br />

                <h5 class="card-title">Paso 3. Seleccionar la nueva fecha</h5>
                <p class="card-text">
                    Seleccione la <b>Fecha</b> de la Cita.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/ReagendarCita/tres.png" width="500px"/>

                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 4. Seleccionar la nueva hora</h5>
                <p class="card-text">
                    Seleccione la <b>Hora</b> de la Cita.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/ReagendarCita/cuatro.png" width="500px"/>

                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 5. Reagendar Cita</h5>
                <p class="card-text">
                    Presione el botón
                    <button type="button" class="btn btn-primary">
                        Reagendar
                    </button> .
                </p>

                <br />

                <p>
                    Si no ocurre ningun error, aparecera un mensaje indicando que la cita se modificó exitosamente.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/ReagendarCita/cinco.png" width="500px"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div><label></label></div>
