<div><label></label></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-header border-bottom border-primary pb-2 mb-4">
                <h4 class="card-title text-center fw-normal">¿Cómo puedo registrarme como Paciente?</h4>
            </div>

            <div class="card-body">
                <p>Para acceder los servicios y funcionalidades que ofrece la plataforma de MediDate, 
                    es necesario crear una cuenta como Paciente. A continuación, se detallan los pasos que debe 
                    seguir para completar este proceso de manera efectiva:</p>

                <h5 class="card-title">Paso 1. Visitar la página de registro</h5>
                <p class="card-text">
                    Presione el botón 
                    <button type="button" class="btn btn-outline-info">
                        Registrarse
                    </button>
                    el cual se encuentra en la parte superior derecha de la página.
                </p>
                    
                <br />

                <h5 class="card-title">Paso 2. Seleccionar cuenta Paciente</h5>
                <p class="card-text">
                    En las opciones que se despliegan, seleccione Como Paciente.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoPaciente/paso_uno.png" />
                    
                    </div>
                </div>
                    
                <br />

                <h5 class="card-title">Paso 3. Completar Formulario de Registro</h5>
                <p class="card-text">
                    A continuación, deberá llenar un formulario de registro con su información personal.
                    <br/>
                    <ul>
                        <li>
                            <b>Correo Electrónico: </b>Proporcione una dirección de correo electrónico válida que 
                            utilizará para iniciar sesión y recibir notificaciones.
                        </li>
                        <li>
                            <b>Contraseña: </b>Elija una contraseña segura.
                        </li>
                        <li>
                            <b>Nombre: </b>Ingrese su nombre.
                        </li>
                        <li>
                            <b>Apellido: </b>Ingrese su apellido.
                        </li>
                        <li>
                            <b>Fecha de Nacimiento: </b>Ingrese el día, mes y año en el que nació (dd/MM/yyyy).
                        </li>
                        <li>
                            <b>Número de Celular: </b> Aunque es opcional, se recomienda ingresar un número de contacto para facilitar la comunicación.
                        </li>
                    </ul>
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoPaciente/paso_dos.png" width="400px" />
                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 4. Crear cuenta</h5>
                <p class="card-text">
                    Presionar el botón <input type="submit" value="Crear cuenta" class="btn btn-primary" /> .
                </p>

                <br />

                <p>
                    Si no ocurre ningun error, aparecera un mensaje indicandonos que el Usuario se registro correctamente.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoPaciente/paso_tres.png" width="300px" />
                    </div>
                </div>
                   
            </div>
        </div>
    </div>
</div>

    <div><label></label></div>
