<div><label></label></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card-header border-bottom border-primary pb-2 mb-4">
                <h4 class="card-title text-center fw-normal">¿Cómo puedo registrarme como Especialista?</h4>
            </div>

            <div class="card-body">
                <p>
                    A continuación, se detallan los pasos que debe
                    seguir para registrarse como Especialista en la plataforma de MediDate 
                    de manera efectiva:
                </p>

                <h5 class="card-title">Paso 1. Visitar la página de registro</h5>
                <p class="card-text">
                    Presione el botón 
                    <button type="button" class="btn btn-outline-info">
                        Registrarse
                    </button>
                    el cual se encuentra en la parte superior derecha de la página.
                </p>
                    
                <br />

                <h5 class="card-title">Paso 2. Seleccionar cuenta Especialista</h5>
                <p class="card-text">
                    En las opciones que se despliegan, seleccione Como Especialista.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoEspecialista/uno.png" />
                    
                    </div>
                </div>
                    
                <br />

                <h5 class="card-title">Paso 3. Completar Formulario de Registro</h5>
                <p class="card-text">
                    Llene todos los campos solicitados en el formulario. <br />
                    <ul>
                        <li>
                            En el campo de <b>Especialidad</b>, seleccione una opción de la lista desplegable.
                        </li>
                        <li>
                            En el campo de <b>Cédula Profesional</b>, suba el archivo correspondiente.
                        </li>
                    </ul>
                    
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoEspecialista/dos.png" width="400px" />
                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 4. Completar Formulario de Consultorio</h5>
                <p class="card-text">
                    Llene los campos acerca de la Información del Consultorio. <br />

                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoEspecialista/tres.png" width="400px" />
                    </div>
                </div>

                <br />

                <h5 class="card-title">Paso 5. Crear cuenta</h5>
                <p class="card-text">
                    Presione el botón <input type="submit" value="Crear cuenta" class="btn btn-primary" /> .
                </p>

                <br />

                <p>
                    Si no ocurre ningun error, aparecera un mensaje indicandonos que el Usuario se registro correctamente.
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <img src="~/img/Documentacion/FAQ/RegistrarseComoPaciente/paso_tres.png" width="300px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div><label></label></div>