@model MediDate.Models.DetServicio

@{
    ViewData["Title"] = "Editar Servicio";
}

@if (TempData["SuccessMessage"] != null)
{
    <!--Modal si la ejecución en la BD sale bien-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <!--Modal si ocurre una excepción-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal si hay que mostrar información relevante al usuario-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<partial name="_MenuMedicos" />

<div class="container">

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <h4>Editar Servicio</h4>
        </div>
    </div>

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-7 align-self-center">
            <div class="card">
                <div class="card-body">
                    
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input asp-for="IdDetServicio" class="form-control" type="hidden"/>
                                    <input asp-for="IdServicio" class="form-control" type="hidden"/>
                                </div>

                                <div><label></label></div>

                                <div class="form-group">
                                    <label asp-for="Servicio" class="control-label"><b>Servicio</b></label>
                                    <input asp-for="Servicio" class="form-control" />
                                    <span asp-validation-for="Servicio" class="text-danger"></span>
                                </div>

                                <div><label></label></div>

                                <div class="form-group">
                                    <label asp-for="Costo" class="control-label"><b>Costo</b></label>
                                    <input asp-for="Costo" class="form-control" />
                                    <span asp-validation-for="Costo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div><label></label></div>

                        <div class="row justify-content-between">
                            <div class="col-md-auto">
                                <a class="btn btn-secondary" asp-action="Index" asp-controller="DetServicio">Regresar</a>
                            </div>
                            <div class="col-md-auto">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        </div> @*Fin Col de _MenuMedicos.cshtml*@
    </div> @* Fin Row de _MenuMedicos.cshtml*@
</div> @*Fin Container de _MenuMedicos.cshtml*@


